@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_forms.scss';

div.products {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Baloo 2";
  justify-content: flex-start;

  > h2 {
    color: $title-h2-color;
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
    text-decoration: underline $product-main-color;
  }

  &__search {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    > span {
      font-size: 2rem;
      margin-right: 1rem;
    }

    > input {
      font-size: 2rem;
      height: 4rem;
      width: 30rem;
    }
  }

  &__container {
    width: 100%;
  }

  &__subcategory {

    > h3 {
      text-transform: lowercase;
      font-size: 2rem;
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
        font-size: 3rem;
      }
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & * {
      flex: 1 1 calc(86% - 1.8rem);
    }
  }

  &__category {
    -moz-box-shadow: -4px 3px 17px -8px rgba(128, 128, 128, 0.95);
    -webkit-box-shadow: -4px 3px 17px -8px rgba(128, 128, 128, 0.95);
    box-shadow: -4px 3px 17px -8px rgba(128, 128, 128, 0.95);
    cursor: pointer;
    margin: 1rem;
    min-height: 10rem;
    padding: 1rem;
    perspective: 1000px;
    transition: box-shadow ease-in-out 0.5s;

    &:hover {
      -webkit-box-shadow: -4px 3px 67px -12px rgba(128, 128, 128, 0.65);
      -moz-box-shadow: -4px 3px 67px -12px rgba(128, 128, 128, 0.65);
      box-shadow: -4px 3px 67px -12px rgba(128, 128, 128, 0.65);
    }

    &.added {
      box-shadow: 1px 6px 33px 2px rgba(58, 183, 150, 0.95);
    }

    > h3 {
      color: $title-h2-subtitle;
      font-size: 1.5rem;
      margin: 0.2rem;
      text-transform: lowercase;
    }

    > span {
      padding-left: 0.5rem;
      border-left: solid 0.4rem #ff5447;
    }
  }

  &__inner {
    min-height: 20rem;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    > * {
      position: absolute;
      width: 100%;
      height: 20rem;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }
  }

  @media (min-width: $breakpoint-tablet) {

    &__subcategory {
      margin: 0 10%;
    }

    &__category {
      margin: 1rem 3rem;
      padding: 0.5rem 2rem;
    }

    &__group {
      & * {
        flex: 0 0 calc(40% - 0.8rem);
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    &__subcategory {
      margin: 0 15%;
    }
  }
}

.prodserv {
  &__form {
    transform: rotateY(180deg);

    &.clicked {
      transform: rotateY(360deg);
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
    background-image: url('src/assets/images/def-products.jpg');

    &.clicked {
      transform: rotateY(180deg);
    }

    &.iphone {
      background-image: url('src/assets/images/products/iphone.png');
      background-position: 15rem -1rem;
      background-size: 30rem;
    }

    &.samsung {
      background-image: url('src/assets/images/products/samsung.jpeg');
      background-position: 8rem;
      background-size: 30rem;
    }

    &.sony {
      background-image: url('src/assets/images/products/sony.jpeg');
      background-position: 8rem;
      background-size: 30rem;
    }

    &.lg {
      background-image: url('src/assets/images/products/lg.jpeg');
      background-position: 8rem;
      background-size: 30rem;
    }

    &.apple {
      background-image: url('src/assets/images/products/apple.jpeg');
      background-position: 12rem;
      background-size: 19rem;
    }

    &.toshiba {
      background-image: url('src/assets/images/products/toshiba.webp');
      background-position: 12rem;
      background-size: 19rem;
    }

    &.acer {
      background-image: url('src/assets/images/products/acer.jpeg');
      background-position: 11rem -4rem;
      background-size: 23rem;
    }

    &.motorola {
      background-image: url('src/assets/images/products/motorola.png');
      background-position: 11rem 0rem;
      background-size: 23rem;
    }

    &.alcatel {
      background-image: url('src/assets/images/products/alcatel.png');
      background-position: 12rem 0rem;
      background-size: 20rem;
    }

    &.nokia {
      background-image: url('src/assets/images/products/nokia.png');
      background-position: 12rem 0rem;
      background-size: 20rem;
    }

    &.xbox {
      background-image: url('src/assets/images/products/xbox.png');
      background-position: 14rem 1rem;
      background-size: 19rem;
    }

    &.play {
      background-image: url('src/assets/images/products/playstation.jpeg');
      background-position: 14rem 1rem;
      background-size: 19rem;
    }

    &.wii {
      background-image: url('src/assets/images/products/wii.png');
      background-position: 14rem 1rem;
      background-size: 19rem;
    }

    &.nintendo {
      background-image: url('src/assets/images/products/nintendo-ds.png');
      background-position: 12rem 1rem;
      background-size: 19rem;
    }

    &.psp {
      background-image: url('src/assets/images/products/psp.png');
      background-position: 10rem -3rem;
      background-size: 25rem;
    }
  }
}
