.confirm {
  &__image {
    background-image: url("src/assets/images/success-request.png");
    height: 20rem;
    margin: 5rem 0 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    color: #fea700;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem 0 0;
    text-align: center;
  }

  &__subtitle {
    color: #fc5815;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__home {
    margin: 2rem 0 2rem 0;
    text-align: center;

    > button {
      background-color: #fea700;
      border-radius: 2rem;
      border: none;
      box-shadow: #0000009e 0.2rem 0.2rem 4px 1px;
      color: #0c0c0c;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0rem 0rem 0rem;
      outline: 0;
      padding: 1rem 2rem;

      &:hover {
        box-shadow: 0.1rem 0.1rem 4px 1px;
      }
    }
  }
}
