@import 'src/assets/scss/_variables.scss';

ng-payment-card::ng-deep {

  section {
    &.cc-wrapper {
      padding-top: 20rem;
    }
  }

  &.cc-box {
    width: 30%;

    &__front {
      background: linear-gradient(170deg, #8ba4dd, #1c1e2e);
      height: 27rem;
    }

    &__back {
      background: linear-gradient(170deg, #8ba4dd, #1c1e2e);
      height: 27rem;
    }

    &__logo {
      font-size: 2.2rem;
    }
  }

  &.cc-form {
    &__wrapper {
      margin-top: 0%;

      &--long {
        width: 30%;
      }
    }

    &--inline {
      margin-bottom: 1rem;
      margin-top: 2rem;
      width: 50%;
    }

    &__label {
      font-size: 1.5rem;

      &--first {
        margin-top: 20%;
      }
    }

    &__button {
      width: 30%;
    }

    &__input {
      &--cursive {
        font-size: 1.5rem;
      }

      &--embosed {
        font-size: 2.2rem;
      }
    }
  }

  [for=cc-expiration-month], [for=cc-expiration-year] {
    &.cc-form {
      &__label {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {

    section {
      &.cc-wrapper {
        padding-top: 20rem;
      }
    }

    &.cc-box {
      width: 90%;
    }

    &.cc-form {
      &__wrapper {
        &--long {
          width: 80%;
        }
      }

      &--inline {
        width: 100%;
      }
    }
  }

  @media (max-width: $breakpoint-mobile-iphone-6to8) {

    section {
      &.cc-wrapper {
        padding-top: 22rem;
      }
    }

    &.cc-box {
      width: 90%;
    }

    &.cc-form {
      &__wrapper {
        &--long {
          width: 60%;
        }
      }

      &--inline {
        margin-top: 2rem;
        width: 70%;
      }
    }
  }
}
